.page {
  background: #f4f7f5;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.sidebar {
  background: #17352c;
  border-right: 1px solid #2c4a40;
}

@media (max-width: 640.98px) {
  article {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}

@media (min-width: 641px) {
  .page {
    flex-direction: row;
  }

  .sidebar {
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 0;
  }

  article {
    padding-left: 2rem !important;
    padding-right: 1.5rem !important;
  }
}
